h3 > a,
.markdown-section table td {
  word-break: break-all;
}
body,
.sidebar ul li a {
  font-size: 1rem;
}
body.sticky .sidebar,
body.sticky .sidebar-toggle {
  margin: unset;
}
.cover-main {
  font-size: 1.2rem;
}
.cover-main > p:first-of-type,
.cover-main > blockquote,
section.cover .cover-main {
  margin: 0;
}
.cover-main > blockquote > p {
  margin: 10px 0 0;
}
.cover-main > p > img {
  width: 120px;
}
.markdown-section {
  overflow: auto;
  max-width: 800px;
  margin: 0 0 0 300px;
}
@media screen and (max-width: 1700px) {
  .markdown-section {
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 768px) {
  html, body {
    font-size: 12px;
  }
  body.close .app-nav,
  body.close .github-corner {
    display: unset;
    transform: translateX(100%);
  }
  body.close .sidebar {
    width: 100%;
  }
  .markdown-section {
    padding-left: 20px;
    padding-right: 20px;
  }
}
#input {
  width: 100%;
  min-height: 120px;
  margin: 0;
  padding: 0.8em;
  resize: vertical;
}
#output {
  width: 100%;
  min-height: 120px;
  background-color: #f9f9fb;
  margin: 0;
  padding: 0.8em;
  border: 1px solid #cdcdcd;
  border-radius: 0.25rem;
  word-break: break-word;
}
#run {
  width: 100px;
  height: 30px;
  margin-right: 20px;
}
#reset {
  width: 100px;
  height: 30px;
}
